body {
  font-family: Arial, sans-serif;
  background: #f7f6f2; /* offwhite */
  margin: 0;
  padding: 0;
}

.topo {
  text-align: center;
  padding: 20px;
}

.categoria {
  margin: 40px;
}

.subcategoria {
  margin-top: 20px;
}

.grupo h4 {
  margin: 15px 0 10px;
}

.produtos {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.produto {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  width: 180px;
}

.produto button {
  background: #000;
  color: #fff;
  border: none;
  padding: 8px;
  width: 100%;
  cursor: pointer;
}

.carrinho {
  position: fixed;
  right: 0;
  top: 0;
  width: 260px;
  height: 100%;
  background: #fff;
  border-left: 2px solid #000;
  padding: 15px;
}
.tipo-atacado {
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 30px 20px;
  text-align: center;
}

.tipo-atacado h2 {
  font-size: 18px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.opcoes-atacado {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.opcoes-atacado button {
  padding: 12px 20px;
  background: #000;
  color: #fff;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.opcoes-atacado button:hover {
  opacity: 0.9;
}

.info-atacado {
  max-width: 700px;
  margin: 0 auto;
  font-size: 14px;
  color: #444;
}

.info-atacado p {
  margin-bottom: 10px;
}
/* CONTROLE DE TIPO DE ATACADO */
.modo-grade .bloco-caixa {
  display: none;
}

.modo-caixa .bloco-grade {
  display: none;
}
